 *{
    margin: 0%;
    padding: 0%;
}
body{
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    margin: 0%;
    
    background-image: url(imagens/fundo.jpg) ;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.083);
    background-color: rgba(128, 128, 128, 0.33);
}
.page{
    background-color: rgba(53, 72, 68, 0.33);
    color: white;
    font-size: 1.8em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(66, 81, 66, 0.503);
}
#topo{
    margin-top: 50px;
    text-align: center;
    text-shadow: 1px 1px 9px rgba(2, 87, 12, 0.592);
} 
#button{
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#button:hover{
    background-color: rgba(65, 108, 108, 0.245);
    box-shadow: inset  1px 4px  16px 8px rgba(0, 0, 0, 0.101)
}

footer{
    background-color: rgb(69, 69, 69);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>p{
    text-align: center;
    color: white;
    padding: 5px;
}
footer a{
    text-decoration: none;
}
footer a:visited{
    color: rgb(255, 255, 255);
}
footer a:hover{
    color: rgba(150, 169, 242, 0.653);
}

img {
    margin: auto;
    display: block;
    text-align: left;
    height: 120px;
    width: 120px;
}
p{
    margin: auto;
    display: block;
    text-align: right;
}
